body{
    background-color: yellowgreen;
}
h1{

    animation: h1Style 2s linear 0s infinite;
}

@keyframes h1Style {
    0%{
        color: red;
        font-size: 120px;
   
    }
    25%{
        color: orange;

    }
    50%{
        color: yellow;
        font-size: 150px;

    }
    75%{
        color: white;
    }
    100%{
        color: rgb(179, 255, 0);
        font-size: 120px;
    }
}