body{
    background-color: yellowgreen;
}


@keyframes h1Style {
    0%{
        color: red;
        font-size: 20px;
    }
    25%{
        color: orange;
    }
    50%{
        color: yellow;
        font-size: ;
    }
}