.btn{
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
    position: relative;
    background-color: #fcad26 ;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 5px;
    padding: 20px 80px;
    margin: 0 auto;
    bor

}
