body {
  margin: 0 0 0 0;
  background-color: #2c3e50;
}

.grass {
  background: green;
  height: 600px;
  width: 100%;
  position: absolute;
}

.sun {
  background: #f1c40f;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation-name: rising-sun;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes rising-sun {
    0%{
        transform: translate(-100px, -5px);
    }
    20%{
        transform: translate(200px, -10px);
    }
    40%{
        transform: translate(300px, -10px);
    }
    60%{
        transform: translate(400px, -10px);
    }
    80%{
        transform: translate(500px, -10px);
    }
    100%{
        transform: translate(500px,-20px);
    }
    
    
}
