body{
    margin: 0;
}
header{
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center; */
  background-image: url('../img/main.jpg');
  back
    background-color: greenyellow;
    min-height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    min-height: 30vh;
}
.top-container{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    margin-top: 0;
   text-align: center;
}
a{
    text-decoration: none;
}


