
body{
    background-color: antiquewhite;
}

.navClass{
 display: flex;
 justify-content: flex-end; 
 flex-wrap: wrap;
}


@media screen and (max-width: 920px) {
    body{
        background-color: green;
        justify-content: space-around;
    }
    .na
}