body{
    margin: auto;
    background-color: green;
}

.container{
    display: flex;
    flex-wrap: wrap;
    height: 30vh;
}

.box{
    background-color: antiquewhite;
    flex-basis: 0px;
    flex-grow: 1;
    flex-shrink: 1;
}

.middle{
    background-color: rgb(179, 106, 17);
}

@media screen and (max-width: 600px) {
    
}
