body{
    margin: auto;
    background-color: green;
}

.container{
    display: flex;
    height: 20vh;
}

.box{
    background-color: antiquewhite;
    flex
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 2;
}

.middle{
    background-color: rgb(179, 106, 17);
}

@media screen and (max-width: 600px) {
    
}
