body{
    margin: auto;
    background-color: green;
}

.container{
    display: flex;
}

.box{
    background-color: antiquewhite;
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: ;
}
.middle{
    background-color: rgb(179, 106, 17);
}
