body{
    background-color: teal;
}

.imgDiv{
    background-color: red;
}

img.img-fluid:hover + i.fa-apple{
    opacity: 0.5;
    
}
mg.img-fluid:hover + i.fa-apple{
    opacity: 0.5;
    
}

i.fa-apple{

    left: 40%;
    top: 25%;
    position: absolute;
    z-index: 1;
    color: aliceblue;
    /* background-color: blue; */
    font-size: 8rem;
}
i.fa-apple:hover{
background-color: blue;
}