body{
    background-color: teal;
}

.imgDiv{
    background-color: red;
}

img.img-fluid:hover{
    opacity: 0.5;
}
i.fa-apple{
    left: ;
    top: 50%;
    position: absolute;
    z-index: 1;
    background-color: blue;
}