body{
    background-color: teal;
}

.img1-bg{
    background-color: red;
    color: red;
}
.img2-bg{
    background-color: blueviolet;
    color: blueviolet;
}
.img3-bg{
    background-color: yellowgreen;
    color: yellowgreen;
}


.imgDiv:hover{
    transition: opacity 0.5s ease-in-out ;
    opacity: 0; 
}

.circle {
    background-color: aliceblue;
    position: absolute;
    left: 35%;
    top: 28%;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;

}

i.icons{
    position: relative;
    top: 18%;
    font-size: 4rem;
}
/* .imgDiv:hover .circle{ 
    transition: opacity 0.s ease-in-out ;
opacity: 1;
} */
