body{
    background-color: teal;
}

.img1-bg{
    background-color: red;
}
.img2-bg{
    background-color: blueviolet;
}
.img3-bg{
    background-color: yellowgreen;
}

img.img-fluid:hover{
    opacity: 0.5; 
}


i.icons{
    border-radius: 5px;
    background-color: rgb(32, 132, 220);
    left: 40%;
    top: 25%;
    position: absolute;
    z-index: 1;
    color: aliceblue;
    display: none;
    /* background-color: blue; */
    font-size: 8rem;
}
.imgDiv:hover i.icons{
display: inline-block;
}
