body{
    background-color: teal;
}

.img1-bg{
    background-color: red;
}
.img2-bg{
    background-color: blueviolet;
}
.img3-bg{
    background-color: yellowgreen;
}

img.img-fluid:hover{
    opacity: 0.5; 
}

.circle {
    background-color: blue !important ;
    position: absolute;
          left: 40%;
    top: 25%;
  height: 150px;
  width: 150px;
  background-color: #555;
  border-radius: 50%;
  font-size: 8rem;

}

i.icons{
    position: relative;
    bottom: 20%;
    color: aliceblue;
    /* display: none; */
    /* background-color: blue; */
    font-size: 8rem;
}
/* .imgDiv:hover i.icons{
display: inline-block;
} */
